body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    background-color: #efefef;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.prof{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.profile_pic{
    border-radius: 50%;
    width:124px;
    display:block;
    margin-bottom:28px;
    border:1px solid #7f7f7f;
}

.prof .left{
    padding: 44px 49px 49px;
    background-color: #ffffff;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prof .left button{
    margin: 16px 0 0 0;
    width:100%;
}

.prof .left h2{
    margin-top:0;
    margin-bottom:34px;
}